[submodule "themes/mainroad"]
	path = themes/mainroad
	url = https://github.com/Vimux/Mainroad
[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
